* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

.row [class^="col"] {
    float: left;
}

[class^="container"] {
    margin: 0 auto;
}

ul li {
    list-style: none;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: 66.66%;
}

.col-4 {
    max-width: 33.33%;
}

/* NAV BAR */

.container {
    max-width: 100%;
}

.row.nav {
    max-width: 100%;
    height: 70px;
    padding: 0 20px;
}

.container:nth-child(1) .col * {
    display: inline-block;
    vertical-align: middle;
}

.col.fr {
    float: right;
}

.nav-links {
    line-height: 70px;
    padding: 0 20px;
}

.nav-links li {
    padding: 0 20px;
}

.nav-logo img {
    width: 100%;
    vertical-align: middle;
}

/* Main Content */

.container-lg {
    max-width: 1160px;
}

.container-mid {
    max-width: 970px;
}

.button {
    padding: 15px 15px;
    line-height: 0;
    color: white;
    background-color: #0061FF;
}

.jumbo {
    height: 665px;
    background-color: #B4D0E7;
}


h1 {
    font-size: 75px;
}

.jumbo-content .col-12 {
    margin-top: 80px;
    margin-bottom: 30px;
}

.jumbo-description {
    padding-bottom: 25px;
}

.free-trial {
    padding-bottom: 15px;
}