* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

.row [class^="col"] {
    float: left;
}

[class^="container"] {
    margin: 0 auto;
}

ul li {
    list-style: none;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: 66.66%;
}

.col-4 {
    width: 33.33%;
}

.col-7 {
    width: calc((100% / 12 ) * 7);
}

.col-5 {
    width: calc((100% / 12 ) * 5);
}

.fa-check {
    color: #0E69FF;
}

.fa-arrow-down {
    padding-top: 50px;
    font-size: 45px;
    color: black;
}

/* NAV BAR */

.container {
    max-width: 100%;
}

.row.nav {
    max-width: 100%;
    min-height: 70px;
    padding: 0 20px;
}

.container:nth-child(1) .col * {
    display: inline-block;
    vertical-align: middle;
}

.col.fr {
    float: right;
}

.nav-links {
    line-height: 70px;
    padding: 0 20px;
}

.nav-links li {
    padding: 0 20px;
}

.nav-logo img {
    width: 100%;
    vertical-align: middle;
}

/* Main Content e Jumbo */

.container-lg {
    max-width: 1160px;
}

.container-mid {
    max-width: 970px;
}

.button {
    padding: 15px 15px;
    line-height: 0;
    color: white;
    background-color: #0061FF;
    border: 1px solid #0061FF;
}

.jumbo {
    height: 665px;
    background-color: #B4D0E7;
}

h1 {
    font-size: 75px;
}

.jumbo-content .col-12 {
    margin-top: 80px;
    margin-bottom: 30px;
}

.jumbo-description {
    padding-bottom: 25px;
}

.free-trial {
    padding-bottom: 15px;
}

/* Dropbox Plans Section */

.plan {
    border: 1px solid #EBEBEC;
    width: 95%;
    height: 1000px;
    margin: 0 auto;
}

.plans-box {
    margin-top: 200px;
    padding-bottom: 200px;
}

.plans-title {
    font-size: 25px;
    padding-bottom: 50px;
}

.billing-plan {
    padding-bottom: 20px;
}

.billing-plan input:nth-child(2) {
    margin-left: 15px;
}

.plan-type {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #EBEBEC;
}

.plan hr {
    width: 20%;
    border: 1px solid #EBEBEC;
    margin-left: 25px;
}

.plan-description {
    padding: 30px 25px;
}

.plan-benefits {
    border-top: 0px;
}

.plan-name p:nth-child(1) {
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 10px;
}

.plan-name p:nth-child(2) {
    font-weight: bold;
    padding-bottom: 5px;
}

.plan-name p:nth-child(3) {
    color: grey;
    padding-bottom: 5px;
}

.plan-content p {
    padding-bottom: 15px;
}

.plan-content p:nth-child(1){
    padding-top: 35px;
}

.plan-content p:nth-child(3){
    padding-bottom: 35px;
}

.buy-now {
    padding-top: 25px;
}

.buy-now a {
    text-decoration: underline;
}

.plan-benefits {
    padding: 30px 25px;
}

.benefits-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.benefits-description li{
    padding-top: 25px;
}

/* Dropbox Plans Teams Section */

.plan-enterprise {
    padding-top: 50px;
}

.enterprise-title {
    border: 1px solid #EBEBEC;
}

.enterprise-title p{
    padding: 10px 0;
    text-align: center;
}

.enterprise-description {
    padding: 25px 35px;
    border: 1px solid #EBEBEC;
    border-top: 0;
}

.enterprise-description-content p:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.enterprise-description-content p:nth-child(2) {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 25px;
}

.enterprise-description-content p:nth-child(3) {
    font-size: 16px;
}

/* Partnership Section */

.partnership-box .col-5{
    padding: 30px 40px;
}

.partnership-box p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.partnership-box p:nth-child(2) {
    padding-bottom: 25px;
}

.button-alt {
    padding: 15px 15px;
    background-color: white;
    border: 1px solid black;
}

/* Dropbox Business Section */

.dropbox-business {
    padding-top: 80px;
    padding-bottom: 100px;
}

.business-box {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.dropbox-business h2 {
    font-size: 40px;
    padding-bottom: 35px;
}

.dropbox-business img {
    width: 100%;
    height: 100%;
}

.dropbox-business p:nth-child(1) {
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 15px;
}

/* Teams Section */

.teams .col-8 a {
    padding-bottom: 50px;
}

.square-box [class^="square"] {
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
    line-height: 250px;
}

.square-box {
    width: 30%;
    height: 500px;
    float: left;
}

.square-box img {
    width: 70%;
    vertical-align: middle;
    filter: invert(100%);
}

.rectangle-box {
    width: 40%;
    height: 500px;
    float: left;
    background-color: #F5F5F5;
}

.rectangle-content {
    padding: 50px 50px;    
}

.rectangle-logo img {
    width: 30%;
}

.rectangle-description p:nth-child(1) {
    padding: 40px 0;
}

.rectangle-content hr {
    margin-top: 25px;
    width: 10%;
    background-color: #E4E4E6;
}

.square-teams img {
    background-color: black;
}

.square-teams-l1 {
    outline: 10px solid #D0E9CD;
    outline-offset: -10px;
    background-color: #A2D39B;
}

.square-teams-l2 {
    background-color: #61082B;
}

.square-teams-l3 {
    background-color: #0093CE;
}

.square-teams-l4 {
    background-color: #FF1C1C;
}

.square-teams-r1 {
    background-color: #D5001F;
}

.square-teams-r2 {
    background-color: #B4D0E7;
}

.square-teams-r3 {
    background-color: #0D2481;
}

.square-teams-r4 {
    background-color: #FFD830;
}

.teams h2 {
    font-size: 40px;
    padding-bottom: 40px;
}

.teams a {
    text-decoration: underline;
}

/* Business Trial Section */

.business-trial {
    background-color: #B4D0E7;
}

.business-trial-box .col-8 {
    padding: 80px 0;
}

.business-trial-box .col-4 {
    padding: 80px 0;
}

.business-trial-title {
    width: 70%;
    font-size: 26px;
    color: #61082B;
}

/* FAQ Section*/

.faq-box {
    padding: 150px 0;
}

.faq-box h2 {
    font-size: 35px;
    padding-bottom: 50px;
}

.faq-box .col-12:not(:nth-child(1)) {
    border-bottom: 1px solid #DEDEE0;
}

.faq-box .col-12:nth-child(2) {
    border-top: 1px solid #DEDEE0;
}

.faq-box p {
    font-weight: bold;
    padding: 30px 0;
}

#arrow {
    float: right;
}

/* Footer */

footer .container {
    background-color: black;
    color: white;
}

.col-footer {
    padding: 100px 0;
}

.col-footer li:first-child {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.col-footer a {
    color: white;
    padding-bottom: 10px;
}

.col-footer {
    width: 20%;
}

.language-selector {
    width: 10%;
    padding: 40px 0;
    border-top: 1px solid grey;
}